# Flutter / Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
*.lock

# Android
*.jks
*.keystore
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
**/ios/Flutter/.last_build_id
**/google-services.json
**/GoogleService-Info.plist

# Firebase
**/firebase_options.dart
lib/utils/firebase_config.dart

# Environment
.env
.env.*
.env.local
.env.production

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
*.swp
*.class
*.log
*.pyc
Thumbs.db
Desktop.ini

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Temp
/tmp/
